<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KelompokSatu">
        <activity android:name=".pesanan.ui.DetailPesananActivity"></activity>
        <activity android:name=".paket.ui.domisili.SumbarActivity" />
        <activity android:name=".paket.ui.domisili.BaliActivity" />
        <activity android:name=".paket.ui.domisili.JambiActivity" />
        <activity android:name=".paket.ui.domisili.JabarActivity" />
        <activity android:name=".paket.ui.domisili.JatengActivity" />
        <activity android:name=".paket.ui.domisili.JatimActivity" />
        <activity android:name=".pesanan.ui.BayarPesananActivity" />
        <activity android:name=".profile.ui.EditProfilActivity" />
        <activity android:name=".paket.ui.PesanPaketActivity" />
        <activity android:name=".paket.ui.DetailPaketActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity" />
    </application>

</manifest>